{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Socio{% endblock %}

{% block body %}

{# Barra de navegación #}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header" href="#">{{ Title }}</a>
            <img src="{{ asset('images/icon.png') }}" alt="Club Senderismo" height="40">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{{path('app_socio')}}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li></li>
            
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi actividad
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutasInscritasBuscarSocio')}}">Rutas</a>
                        <a class="dropdown-item" href="{{path('materialSolicitadoSocio')}}">Material Deportivo</a>
                    </div>
            </div>

            <li class="nav-item active"><a class="nav-link" href="{{path('rutaBuscarSocio')}}"><span class="glyphicon glyphicon-home"></span> Buscar Ruta</a></li></li>

            <li class="nav-item active"><a class="nav-link" href="{{path('eventoBuscarSocio')}}"><span class="glyphicon glyphicon-home"></span>Buscar Evento</a></li>

            <li class="nav-item active"><a class="nav-link" href="{{path('materialBuscarSocio')}}"><span class="glyphicon glyphicon-home"></span>Buscar Material Deportivo</a></li>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tarjeta Federativa
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('consultarTarjetas')}}">Solicitar Tarjeta Federativa</a>
                        <a class="dropdown-item" href="{{path('cancelarTarjeta')}}">Cancelar Tarjeta Federativa</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi perfil
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('consultarPerfilSocio')}}">Ver mi perfil</a>
                        <a class="dropdown-item" href="{{path('editarPerfilSocio')}}">Editar mi perfil</a>
                        <a class="dropdown-item" href="{{path('solicitarDarBaja')}}">Dar de baja</a>
                    </div>
            </div>
            <li class="nav-item active"><a class="nav-link" type="button" href="{{path('ayudaSocio')}}"><span class="glyphicon glyphicon-home"></span> Ayuda</a></li></li>
            <li class="nav-item active"><a class="nav-link" href="{{path('app_logout')}}"><span class="glyphicon glyphicon-home"></span>Cerrar Sesión</a></li>
            
            
            </ul>
        </div>
    </div>
    </nav>

        {% for message in app.flashes('success') %}
        <div class= "alert alert-success" role="alert" style="margin-top:80px" >
            {{ message }} 
        </div>
        {% endfor %}

        {% for message in app.flashes('informacion') %}
        <div class= "alert alert-info" role="alert" style="margin-top:80px" >
            {{ message }} <img height="20px" src="{{ asset('images/socio.png') }}" title="Socio"/>
        </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
        <div class= "alert alert-danger" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
        {% endfor %}

<body>
{% if ruta is defined and evento is defined and material is defined %}
<div class="container h-100 " style="margin-top:20px">

    <div class="card-deck">

        <div class="card  mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/miactividad.gif') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mi actividad</h5>
                        <p class="card-text">Aquí puede consultar a las rutas que está inscrito y los materiales que ha solicitado</p>
                        <a onclick="location.href='{{ path('rutasInscritasBuscarSocio')}}'" class="btn btn-outline-danger btn-block">Rutas</a>
                        <a onclick="location.href='{{ path('materialSolicitadoSocio')}}'" class="btn btn-outline-danger btn-block">Material deportivo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/ruta.gif') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Rutas</h5>
                        <p class="card-text">Aquí puede ver las rutas que se encuentras disponibles en nuestra aplicación web, así como inscribirse a las que deseé </p>
                        <a onclick="location.href='{{ path('rutaBuscarSocio')}}'" class="btn btn-outline-success btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">

        <div class="card  mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/calendario2.gif') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Eventos</h5>
                        <p class="card-text">Aquí encontrará todos los eventos previstos por el club. Puede consultarlos y decidir si acudir a ellos</p>
                        <a onclick="location.href='{{ path('eventoBuscarSocio')}}'" class="btn btn-outline-warning btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/carrito.gif') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Material Deportivo</h5>
                        <p class="card-text">A través de este botón puede consultar el listado de materiales deportivos al que puede acceder.</p>
                        <a onclick="location.href='{{ path('materialBuscarSocio')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
            </div>
    </div>


</body>
{% endif %}

{% endblock %}
