{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Consultor{% endblock %}

{% block body %}

{# Barra de navegación #}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header" href="#">{{ Title }}</a>
            <img src="{{ asset('images/icon.png') }}" alt="Club Senderismo" height="40">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{{path('app_consultor')}}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li></li>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuarios
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('usuarioBuscarConsultor')}}">Buscar Usuario</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi actividad
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutasInscritasBuscarConsultor')}}">Rutas</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rutas
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutaBuscarConsultor')}}">Buscar Ruta</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eventos
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('eventoBuscarConsultor')}}">Buscar Evento</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Material Deportivo
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('materialBuscarConsultor')}}">Buscar Material Deportivo</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi perfil
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('consultarPerfilConsultor')}}">Ver mi perfil</a>
                        <a class="dropdown-item" href="{{path('editarPerfilConsultor')}}">Editar mi perfil</a>
                        <a class="dropdown-item" href="{{path('eliminarPerfilConsultor')}}">Eliminar mi perfil</a>
                    </div>
            </div>

                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('ayudaConsultor')}}"><span class="glyphicon glyphicon-home"></span> Ayuda</a></li></li>
                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('app_logout')}}"><span class="glyphicon glyphicon-home"></span> Cerrar Sesión</a></li></li>
            </div>
            
            </ul>
        </div>
    </div>
    </nav>

        {% for message in app.flashes('success') %}
        <div class= "alert alert-success" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('informacion') %}
        <div class= "alert alert-info" role="alert" style="margin-top:80px" >
            {{ message }}  <img height="20px" src="{{ asset('images/cons.png') }}" title="Rol Consultor"/>
        </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
        <div class= "alert alert-danger" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
    {% endfor %}

    
<body>
{% if ruta is defined and evento is defined and material is defined %}
<div class="container h-100 " style="margin-top:20px">

    <div class="card-deck">

        <div class="card text-white bg-info mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/cliente.png') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Usuarios</h5>
                        <p class="card-text">Dispone de un listado extenso de los disponibles en la aplicación web.</p>
                        <a onclick="location.href='{{ path('usuarioBuscarConsultor')}}'" class="btn btn-outline-dark btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/camino.png') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Rutas</h5>
                        <p class="card-text">Dispone de un listado extenso de las rutas disponibles en la aplicación web.</p>
                        <a onclick="location.href='{{ path('rutaBuscarConsultor')}}'" class="btn btn-outline-dark btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">

        <div class="card text-white bg-info mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/calendario.png') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Eventos</h5>
                        <p class="card-text">A través de este botón puede consultar el listado de eventos al que puede acceder.</p>
                        <a onclick="location.href='{{ path('eventoBuscarConsultor')}}'" class="btn btn-outline-dark btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 550px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset('images/ropa.png') }}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Listado de Material Deportivo</h5>
                        <p class="card-text">A través de este botón puede consultar el listado de materiales deportivos al que puede acceder.</p>
                        <a onclick="location.href='{{ path('materialBuscarConsultor')}}'" class="btn btn-outline-dark btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
            </div>
    </div>

</body>
{% endif %}

{% endblock %}

