{% extends 'administrador/index.html.twig' %}
{% block title %}{{parent()}} - Consultar Usuario{% endblock %}
{% block body %}
{{parent()}}

<div id="General" class="row h-100-justify-content-center align-items-center " >
    <div class="container h-100 " style="margin-top:80px; border: 10px ridge RoyalBlue;">
        <h1 style="color:black; margin-top:80px;"><center>Datos de la consulta<center></h1>
        <div class="col-12 bg-white rounded my-3 p-5">
        
        <div class="form-row" style="margin-top:20px">
            <div id="campo_email" class="col-md-4 mb-4">
                {{ form_label(formulario.email)}}
                {{ form_widget(formulario.email, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_nombre" class="col-md-4 mb-4">
                {{ form_label(formulario.nombre)}}
                {{ form_widget(formulario.nombre, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_apellidos" class="col-md-4 mb-4">
                {{ form_label(formulario.apellidos)}}
                {{ form_widget(formulario.apellidos, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_roles" class="col-md-4 mb-4">
                {{ form_label(formulario.roles) }}
                {{ form_widget(formulario.roles, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_telefono" class="col-md-4 mb-4">
                {{ form_label(formulario.telefono) }}
                {{ form_widget(formulario.telefono, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_fecha_alta" class="col-md-4 mb-4">
                {{ form_label(formulario.fechaalta) }}
                {{ form_widget(formulario.fechaalta, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="boton_volver" class="form-group col-md-6">
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('usuarioBuscarAdmin')}}'">Volver</button>
            </div>
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
