{% extends 'administrador/index.html.twig' %}
{% block title %}{{parent()}} - Consultar Evento{% endblock %}
{% block body %}
{{parent()}}

<div id="General" class="row h-100-justify-content-center align-items-center " >

    <div class="container h-100 " style="margin-top:80px; border: 10px ridge RoyalBlue;">
        <h1 style="color:black; margin-top:80px;"><center>Datos de la consulta<center></h1>
        <div class="col-12 bg-white rounded my-3 p-5">

        
        <div class="form-row" style="margin-top:20px">
            <div id="campo_nombre" class="col-md-4 mb-4">
                {{ form_label(formulario.nombre)}}
                {{ form_widget(formulario.nombre, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_lugar" class="col-md-4 mb-4">
                {{ form_label(formulario.lugar)}}
                {{ form_widget(formulario.lugar, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">    
            <div id="campo_fecha" class="col-md-4 mb-4">
                {{ form_label(formulario.fecha)}}
                {{ form_widget(formulario.fecha, {'attr':{'disabled':'disabled'} })}}
            </div>

            <div id="campo_hora" class="col-md-4 mb-4">
                {{ form_label(formulario.hora) }}
                {{ form_widget(formulario.hora, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_descripcion" class="col-md-8 mb-4">
                {{ form_label(formulario.descripcion) }}
                {{ form_widget(formulario.descripcion, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="boton_volver" class="form-group col-md-6">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
            </div>
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
