{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Administrador{% endblock %}

{% block body %}
{# Barra de navegación #}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header" href="#">{{ Title }}</a>
        
            <img src="{{ asset('images/icon.png') }}" alt="Club Senderismo" height="40">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{{path('app_administrador')}}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li></li>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuarios
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('usuarioBuscarAdmin')}}">Buscar Usuario</a>
                        <a class="dropdown-item" href="{{path('registrarUsuarioAdmin')}}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{{path('buscarSolicitudesAdmin')}}">Solicitudes de admisión socio</a>
                        <a class="dropdown-item" href="{{path('buscarBajaAdmin')}}">Solicitudes de baja socio</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi actividad
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutasInscritasBuscarAdmin')}}">Rutas</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rutas
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutaBuscarAdmin')}}">Buscar Ruta</a>
                        <a class="dropdown-item" href="{{path('AdministradorRegistrarRuta')}}">Registrar Ruta</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eventos
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('eventoBuscarAdmin')}}">Buscar Evento</a>
                        <a class="dropdown-item" href="{{path('AdministradorRegistrarEvento')}}">Registrar Evento</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Material Deportivo
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('materialBuscarAdmin')}}">Buscar Material Deportivo</a>
                        <a class="dropdown-item" href="{{path('AdministradorRegistrarMaterial')}}">Registrar Material Deportivo</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi perfil
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('consultarPerfilAdmin')}}">Ver mi perfil</a>
                        <a class="dropdown-item" href="{{path('editarPerfilAdmin', {id: app.user.id})}}">Editar mi perfil</a>
                        <a class="dropdown-item" href="{{path('eliminarPerfilAdmin')}}">Eliminar mi perfil</a>
                    </div>
            </div>

                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('ayudaAdministrador')}}"><span class="glyphicon glyphicon-home"></span> Ayuda</a></li></li>
                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('app_logout')}}"><span class="glyphicon glyphicon-home"></span> Cerrar Sesión</a></li></li>
            </div>
            
            </ul>
        </div>
    </div>
    </nav>

    {% for message in app.flashes('informacion') %}
        <div class= "alert alert-info" role="alert" style="margin-top:80px" >
            {{ message  }} <img height="20px" src="{{ asset('images/admin.png') }}" title="Rol Administrador"/>
        </div>
    {% endfor %}

        {% for message in app.flashes('success') %}
        <div class= "alert alert-success" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
    {% endfor %}

        {% for message in app.flashes('danger') %}
        <div class= "alert alert-danger" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
    {% endfor %}

    <body>
{% if ruta is defined and evento is defined and material is defined %}
<div class="container h-100 " style="margin-top:20px">
    <div class = "row">

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/cliente.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Usuarios</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de usuarios de la web, donde podrá gestionarlos como deseé.</p>
                        </div>
                        <a onclick="location.href='{{ path('usuarioBuscarAdmin')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        <a onclick="location.href='{{ path('informeUsuarios')}}'" class="btn btn-outline-primary btn-block">Imprimir Informe</a>
                </div>

                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/destino.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Rutas</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de rutas de la web, donde podrá gestionarlas como deseé.</p>
                        </div>
                        <a onclick="location.href='{{ path('rutaBuscarAdmin')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        <a onclick="location.href='{{ path('informeRutas')}}'" class="btn btn-outline-primary btn-block">Imprimir Informe</a>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/calendario.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Eventos</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de eventos de la web, donde podrá gestionarlos como deseé.</p>
                        </div>
                        <a onclick="location.href='{{ path('eventoBuscarAdmin')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        <a onclick="location.href='{{ path('informeEventos')}}'" class="btn btn-outline-primary btn-block">Imprimir Informe</a>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/material.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Material Deportivo</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de material deportivo de la web, donde podrá gestionarlos como deseé.</p>
                        </div>
                        <a onclick="location.href='{{ path('materialBuscarAdmin')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        <a onclick="location.href='{{ path('informeMaterial')}}'" class="btn btn-outline-primary btn-block">Imprimir Informe</a>
                </div>
            </div>
    </div>
  </div>


</body>
{% endif %}
{#}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .option { background-color:IndianRed; color: white; }
    .option:hover { background-color: Red; }
    .dropdown { background-color:IndianRed; color: white; }
    .dropdown:hover { background-color: Red; }
    .dropdown-menu { background-color:IndianRed; color: white; }
    .dropdown-menu:hover { background-color: Red; }
    #dropdown-item { background-color:IndianRed; color: white; display: block; }
    #dropdown-item:hover { background-color: Red; }
    #dropdown-item:focus { background-color: Red; }
    body {background-color: FloralWhite; }
</style>
#}

{% endblock %}
