{% block body %}

<h1> <center>LISTADO DE RUTAS<center></h1>
{% if rutas is not same as("") and rutas is not null and rutas is not empty %}

    <table id="tbRuta" class="table align-middle">
        <thead>
        <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
            <tr>
                <th>Nombre</th>
                <th>Lugar de Inicio-Lugar de Fin</th>
                <th>Fecha</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for ruta in rutas %}
                    <tr id ='{{ruta.id}}'>
                        <td>{{ruta.nombre}}</td>
                        <td>{{ruta.lugarInicio}} - {{ruta.lugarfin}}</td>
                        <td>{{ruta.fecha | date('d-m-Y')}}</td>
                        <td>{{ruta.duracion}}</td>
                    </tr>
                {% endfor %}
            </tr>
    </table>
</div>

{% endif %}
{% endblock %}

{% block content %}
{% endblock %}