{% extends 'editor/index.html.twig' %}

{% block title %}{{parent()}} - Buscar Usuario{% endblock %}

{% block body %}

{{parent()}}

{% for message in app.flashes('success') %}
    <div class= "alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div class="container h-100 " style="margin-top:80px" >
    <h1 style="color:RoyalBlue"><center>LISTADO DE USUARIOS<center></h1>
{% if usuarios is not same as("") and usuarios is not null and usuarios is not empty %}

    <table id="tbUsuario" class="table align-middle" style="border: 10px ridge RoyalBlue; width:100%">
        <thead class="thead-light" style="border-bottom-style:2px solid #24a690;">

            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Fecha Alta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <div class="scrollit">
                            {% for usuario in usuarios %}
                                <tr id ='{{usuario.id}}'>
                                    <td>{{usuario.id}}</td>
                                    <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ asset('images/profile.png') }}" style="width: 35px; height: 35px;" class="rounded-circle">
                                    </div>
                                    <div class="ms-3">
                                        <p class="text-muted mb-0">{{usuario.email}}</p>
                                        <p class="fw-bold mb-1">{{usuario.nombre}} {{usuario.apellidos}}</p>
                                    </div>
                                    </td>
                                    <td>{{usuario.telefono}}</td>
                                    <td>{{usuario.fechaalta | date('d-m-Y')}}</td>
                                    <td style="width:19%" align="center">                                   
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('eliminarUsuarioEd', {id: usuario.id})}}'"><img height="24px" src="{{ asset('images/eliminar.png') }}" title="Dar de baja"/></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
               </td>
            </tr>
        </tbody>
    </table>

    
    <div class="container h-100 " style="margin-top:40px">
    <div class="form-row">
        <div id="boton_volver" class="form-group col-md-6">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
        </div>
    </div>
    </div>
</div>
{% else %}
<div class="container h-100 " style="margin-top:40px">
    <p style="text-align:center">Lo sentimos. No se ha encontrado ningun usuario...</p>
    <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
</div>
{% endif %}

{% endblock %}

{% block content %}
{% endblock %}