{% extends 'editor/index.html.twig' %}
{% block title %}{{parent()}} - Eliminar Material Deportivo{% endblock %}
{% block body %}
{{parent()}}

<div id="General" class="row h-100-justify-content-center align-items-center " >
    <div class="container h-100 " style="margin-top:80px; border: 10px ridge RoyalBlue;">
        <h1 style="color:black; margin-top:80px;"><center>¿Está seguro/a de querer eliminar este material?<center></h1>
        <div class="col-6 bg-white rounded my-3 p-5">
            <div style="class=form-row">
            <div class="form-row">
                <div id="campo_imgmaterial" align="left">
                    <img src="{{img_material}}" /> 
                </div>
            </div>

            <br clear="all"><div class="form-row" >
                    <div>
                        {{form(formulario)}}
                    </div>
            </div>
        </div>
            <div style="margin-top:10px">
                <button type="button" class="btn btn-secondary" onclick="location.href='{{path('materialBuscarEditor')}}'">Cancelar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
