{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Editor{% endblock %}

{% block body %}

{# Barra de navegación #}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header" href="#">{{ Title }}</a>
        
            <img src="{{ asset('images/icon.png') }}" alt="Club Senderismo" height="40">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{{path('app_editor')}}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li></li>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuarios
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('usuarioBuscarEditor')}}">Buscar Usuario</a>
                        <a class="dropdown-item" href="{{path('usuarioRegistrarEditor')}}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{{path('buscarSolicitudesEditor')}}">Solicitudes de admisión socio</a>
                        <a class="dropdown-item" href="{{path('buscarBajaEditor')}}">Solicitudes de baja socio</a>
                    </div>
                    
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi actividad
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutasInscritasBuscarEditor')}}">Rutas</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rutas
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('rutaBuscarEditor')}}">Buscar Ruta</a>
                        <a class="dropdown-item" href="{{path('EditorRegistrarRuta')}}">Registrar Ruta</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eventos
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('eventoBuscarEditor')}}">Buscar Evento</a>
                        <a class="dropdown-item" href="{{path('EditorRegistrarEvento')}}">Registrar Evento</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Material Deportivo
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('materialBuscarEditor')}}">Buscar Material Deportivo</a>
                        <a class="dropdown-item" href="{{path('EditorRegistrarMaterial')}}">Registrar Material Deportivo</a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi perfil
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{path('consultarPerfilEditor')}}">Ver mi perfil</a>
                        <a class="dropdown-item" href="{{path('editarPerfilEditor')}}">Editar mi perfil</a>
                        <a class="dropdown-item" href="{{path('eliminarPerfilEditor')}}">Eliminar mi perfil</a>
                        <a class="dropdown-item" href="{{path('cambiarContraseñaEditor')}}">Cambiar Contraseña</a>
                    </div>
            </div>

                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('ayudaEditor')}}"><span class="glyphicon glyphicon-home"></span> Ayuda</a></li></li>
                <li class="nav-item active"><a class="nav-link" type="button" href="{{path('app_logout')}}"><span class="glyphicon glyphicon-home"></span> Cerrar Sesión</a></li></li>
            </div>
            
            </ul>
        </div>
    </div>
    </nav>

        {% for message in app.flashes('success') %}
        <div class= "alert alert-success" role="alert" style="margin-top:80px" >
            {{ message }} 
        </div>
    {% endfor %}

    {% for message in app.flashes('informacion') %}
        <div class= "alert alert-info" role="alert" style="margin-top:80px" >
            {{ message }} <img height="20px" src="{{ asset('images/edit.png') }}" title="Rol Editor"/>
        </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
        <div class= "alert alert-danger" role="alert" style="margin-top:80px" >
            {{ message }}
        </div>
    {% endfor %}

<body>
{% if ruta is defined and evento is defined and material is defined %}
<div class="container h-100 " style="margin-top:20px">
    <div class = "row">

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/cliente.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Usuarios</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de usuarios de la web, donde podrá ejecutar acciones de consulta, edición y borrado.</p>
                        </div>
                        <a onclick="location.href='{{ path('usuarioBuscarEditor')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        
                </div>

                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/destino.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Rutas</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de rutas de la web, donde podrá ejecutar acciones de consulta, edición, borrado, habilitar inscripción en la ruta que lo deseé, inscribirse y asignar ruteros.</p>
                        </div>
                        <a onclick="location.href='{{ path('rutaBuscarEditor')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/calendario.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Eventos</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de eventos de la web, donde podrá ejecutar acciones de consulta, edición y borrado.</p>
                        </div>
                        <a onclick="location.href='{{ path('eventoBuscarEditor')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                        
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/material.gif') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Material Deportivo</h5>
                            <p class="card-text">Desde aquí puede dirigirse al listado de material deportivo de la web, donde podrá ejecutar acciones de consulta, edición, borrado y ver los usuarios solicitantes de alguna prenda.</p>
                        </div>
                        <a onclick="location.href='{{ path('materialBuscarEditor')}}'" class="btn btn-outline-primary btn-block">Ver más...</a>
                </div>
            </div>
    </div>
  </div>


</body>
{% endif %}

{% endblock %}
