{% extends 'club/index.html.twig' %}
{% block title %}{{parent()}} - Consultar Ruta{% endblock %}
{% block body %}
{{parent()}}
{% for message in app.flashes('exito') %}
    <div class= "alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('info') %}
    <div class= "alert alert-warning">
        {{ message }}
    </div>
{% endfor %}
<div id="General" class="row h-100-justify-content-center align-items-center " >

    <div class="container h-100 " style="margin-top:80px; border: 10px ridge RoyalBlue;">
        <h1 style="color:black; margin-top:80px;"><center>Datos de la consulta<center></h1>
        <div class="col-6 bg-white rounded my-3 p-5">
        
        <div class="form-row" style="margin-top:20px">
            <div id="campo_nombre" class="form-group col-md-8">
                {{ form_label(formulario.nombre)}}
                {{ form_widget(formulario.nombre, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_lugarinicio" class="form-group col-md-8">
                {{ form_label(formulario.lugar_inicio)}}
                {{ form_widget(formulario.lugar_inicio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">    
            <div id="campo_lugarfin" class="form-group col-md-8">
                {{ form_label(formulario.lugar_fin)}}
                {{ form_widget(formulario.lugar_fin, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_distancia" class="form-group col-md-8">
                {{ form_label(formulario.distancia) }}
                {{ form_widget(formulario.distancia, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_desnivel" class="form-group col-md-8">
                {{ form_label(formulario.desnivel_acumulado) }}
                {{ form_widget(formulario.desnivel_acumulado, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_duracion" class="form-group col-md-7">
                {{ form_label(formulario.duracion) }}
                {{ form_widget(formulario.duracion, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="campo_fecha" class="form-group col-md-7">
                {{ form_label(formulario.fecha) }}
                {{ form_widget(formulario.fecha, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="campo_horainicio" class="form-group col-md-7">
                {{ form_label(formulario.hora_inicio) }}
                {{ form_widget(formulario.hora_inicio, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="campo_horafin" class="form-group col-md-7">
                {{ form_label(formulario.hora_fin) }}
                {{ form_widget(formulario.hora_fin, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="campo_recorrido" class="form-group col-md-7">
                {{ form_label(formulario.recorrido) }}
                {{ form_widget(formulario.recorrido, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="plazas" class="form-group col-md-7">
                {{ form_label(formI.plazas) }}
                {{ form_widget(formI.plazas, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="fecha_socio" class="form-group col-md-7">
                {{ form_label(formI.fecha_socio) }}
                {{ form_widget(formI.fecha_socio, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="fecha_nosocio" class="form-group col-md-7">
                {{ form_label(formI.fecha_nosocio) }}
                {{ form_widget(formI.fecha_nosocio, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="boton_volver" class="form-group col-md-6">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
            </div>
        </div>

        

        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
